* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header > h1 {
  color: red;
  font-size: 2rem;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__left {
  flex: 0.7;
  margin-right: 20px;
}

.app__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1 !important;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__left {
    margin-left: 0px;
  }

  .app__right {
    margin-top: 20px;
  }
}

.worldNews {
  margin: 20px 0px;
}
